#outer-body {
  width: 400px;
  height: 690px;
  border: 5px solid black;
  border-radius: 10%;
  margin: 0 auto;
  /* margin: 100px; */
  background-color: rgb(192, 108, 74);
}

.answer-outer-row {
  display: flex;
  width: 270px;
  height: 50px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin: 5px 10px 0px 10px;
}

.answer-inner-row {
  display: flex;
  width: 250px;
  height: 39px;
  border: 1px solid black;
  border-radius: 20%;
  margin: 0 auto;
  margin: 5px 0px 0px 10px;
  background-color: rgb(221, 116, 84);
}

.answer-pin {
  width: 50px;
  height: 35px;
  border: 1px solid blue;
  border-radius: 50%;
  margin: 0 auto;
  margin: 1px 10px 0px 10px;
}

.submit {
  width: 100px;
  height: 39px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30%;
  margin: 0 auto;
  margin: 5px 0px 90px 40px;
  text-align: center;
  background-color: azure;
}

.outer-guess-row {
  display: flex;
  width: 378px;
  height: 50px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin: 5px 0 0 10px;
}

.guess-row-pin {
  display: flex;
  width: 378px;
  height: 40px;
  border: 1px solid black;
  border-radius: 20%;
  margin: 0 auto;
  margin: 5px 0 0 10px;
  background-color: rgb(167, 154, 163);
}

.guess-row-result {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 30%;
  margin: 0 auto;
  justify-content: center;
  margin: 5px 10px 0 10px;
  background-color: rgb(228, 125, 84);
}

.guess-pin {
  width: 45px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 auto;
  margin: 1.5px 10px 10px 10px;
}

.guess-result {
  width: 15px;
  height: 10px;
  border: 1px solid black;
  border-radius: 70%;
  margin: 0 auto;
  margin: 5px 5px 1px 5px;
}

.select-row {
  display: flex;
  width: 378px;
  height: 50px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin: 5px 0 0 10px;
}

.select-pin {
  width: 50px;
  height: 39px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 auto;
  margin: 5px 0 0 10px;
}

.select-pin:hover {
  border: 3px solid white;
}

.guess-pin:hover {
  border: 3px solid white;
}

.org-color {
  background-color: white;
}
